<br><br><br><br><br>


<section id="skills">
  <div class="container">
    <div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">
      <h1><strong>Our Skills</strong></h1>
      <h3> It's what we do best</h3>
      <p>
        Cyber security seems to be a hot issue these days with all the recent news about online hackings and whatnots. However, todays functioning society revolves around the online infrastructure that is the world wide web.
      </p>
      <a href="" class=" button btn btn-info"> Read More</a>
      <a href="#contact" class=" button btn btn-success" > Get in touch</a>
    </div>
       <div class="col-md-6 col-sm-6 col-xs-12 progress-bars">

       <div>
           <h5>HTML5</h5>
           <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
<span class="sr-only">60% Complete</span>
</div>
</div>
         </div>

           <div>
           <h5>HTML5</h5>
           <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
<span class="sr-only">60% Complete</span>
</div>
</div>
         </div>

           <div>
           <h5>HTML5</h5>
           <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
<span class="sr-only">60% Complete</span>
</div>
</div>
         </div>

           <div>
           <h5>HTML5</h5>
           <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
<span class="sr-only">60% Complete</span>
</div>
</div>
         </div>
       </div>
    </div>
  </div>

</section>

<section id="portfolio">

  <div class="section-heading text-center">
    <h3 class="text-uppercase"> Our <strong>Portfolio</strong></h3>
    <hr class="icon" >
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/99/40/6a/99406aca166cda8e50b7c1f2c2e1d1aa.jpg" class="img-responsive">
          <div class="portfolio-overlay">
            <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/01/3025275-poster-p-brownlee.jpg" class="img-responsive">
          <div class="portfolio-overlay">
            <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/01/3025363-poster-p-square-project-2.jpg" class="img-responsive">
          <div class="portfolio-overlay">
           <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="https://i.vimeocdn.com/video/473723067_1280.jpg"> class="img-responsive">
          <div class="portfolio-overlay">
            <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/99/40/6a/99406aca166cda8e50b7c1f2c2e1d1aa.jpg" class="img-responsive">
          <div class="portfolio-overlay">
           <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="portfolio-thumb">
          <img src="http://s3media.squarespace.com/domains/domains-3.jpg" class="img-responsive">
          <div class="portfolio-overlay">
            <h2 class="vertical-align">Project One</h2>
            <a href=""> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
      

    </div>
  </div>
