@import '@angular/material/prebuilt-themes/purple-green.css';

  .example-card {
    max-width: 350px;
    background-color: rgb(247, 247, 247);
  }
  
  .example-header-image {
    background-size: cover;
  }

  .titulo{
    text-align: center;
    font-size: 25px;
  }

  .container-energias-calculadas{
    display: flex;
    justify-content: space-evenly;
  }

  #resultado-calculadora,
#resultado-texto {
    padding-top: 2em;
}

.container-energias-calculadas {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 2em;
}

.resultado-card {
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    margin: 1em !important;
    padding: 0 !important;
}

.resultado-card img {
    opacity: 0.5;
}

.excelente {
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.75) !important;
}

.excelente img {
    opacity: 1;
}

.home-image {
    object-fit: cover;
    object-position: 0 66%;
    height: 400px;
}
#textoslogan {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: xx-large;
}
