<br><br><br><br><br><br><br><br>
<main class="d-flex flex-column justify-content-center w-100">

  <div class="titulo">
    <br>Simulador<br> 
  </div>
  <br>

  <br><br><br>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Casa</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/images/casa.jpg" alt="Foto de casa">
        <mat-card-content>
          <p>
            Selecione o tamanho da residência através dos botões abaixo para obter a
            forma de obtenção de energia limpa mais indicada para você!
          </p>
        </mat-card-content>
        <mat-card-actions class="botoes">
          <button mat-button (click)="openDialog()" color="accent">PEQUENO</button>
          <button mat-button (click)="openDialog()" color="accent">MÉDIO</button>
          <button mat-button (click)="openDialog()" color="accent">GRANDE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Apartamento</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/images/apartamento.jpg" alt="Foto de apartamento">
        <mat-card-content>
          <p>
            Selecione o tamanho do imóvel através dos botões abaixo para obter a forma de obtenção
            de energia limpa mais indicada para você!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()" color="accent">PEQUENO</button>
          <button mat-button (click)="openDialog()" color="accent">MÉDIO</button>
          <button mat-button (click)="openDialog()" color="accent">GRANDE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/sitio.jpg" alt="Foto de área rural">
        <mat-card-content>
          <p>
            A energia da biomassa é obtida através da matéria orgânica, como restos de madeira, bagaço de
            cana-de-açúcar,
            entre outros resíduos
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()" color="accent">PEQUENO</button>
          <button mat-button (click)="openDialog()" color="accent">MÉDIO</button>
          <button mat-button (click)="openDialog()" color="accent">GRANDE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <br><br>

</main>