@import '@angular/material/prebuilt-themes/purple-green.css';

  .example-card {
    max-width: 300px;
    background-color: rgb(247, 247, 247);
  }
  
  .example-header-image {
    background-size: cover;
  }

  .titulo{
    text-align: center;
    font-size: 25px;
  }

  .container-energias-calculadas{
    display: flex;
    justify-content: space-evenly;
  }

  .simulador{
    background-color: rgb(230, 230, 230);
  }

  .col{
    display: flex;
    justify-content: center;
  }