<main class="d-flex flex-column justify-content-center w-100">

  <div class="titulo">
    <br>Simulador<br> 
  </div>
  <br>

  <br><br><br>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Casa</mat-card-title>
        </mat-card-header>
        <br>
        <img mat-card-image src="../assets/images/casa.jpg" alt="Foto de casa">
        <mat-card-content>
          <p> 
            Selecione o tamanho da residência através dos botões abaixo para obter a
            forma de obtenção de energia limpa mais indicada para você!
          </p>
          <br><br>
        </mat-card-content>
        <mat-card-actions class="justify-content-between">
          <button mat-button class="custom-button" (click)="openDialogSolar()">PEQUENO</button>
          <button mat-button class="custom-button" (click)="openDialogSolarBiomassa()">MÉDIO</button>
          <button mat-button class="custom-button" (click)="openDialogTodos()">GRANDE</button>
      </mat-card-actions>
      
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Apartamento</mat-card-title>
        </mat-card-header>
        <br>
        <img mat-card-image src="../assets/images/apartamento.jpg" alt="Foto de apartamento">
        <mat-card-content>
          <p>
            Selecione o tamanho do imóvel através dos botões abaixo para obter a forma de obtenção
            de energia limpa mais indicada para você!
          </p>
          <br><br>
        </mat-card-content>
        <mat-card-actions class="justify-content-between">
          <button mat-button class="custom-button" (click)="openDialogNenhum()">PEQUENO</button>
          <button mat-button class="custom-button" (click)="openDialogSolar()">MÉDIO</button>
          <button mat-button class="custom-button" (click)="openDialogSolar()">GRANDE</button>
      </mat-card-actions>
      
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sítio/ Chácara</mat-card-title>
        </mat-card-header>
        <br>
        <img mat-card-image src="../assets/images/sitio.jpg" alt="Foto de área rural">
        <mat-card-content>
          <p>
            Selecione o tamanho do imóvel através dos botões abaixo para obter a forma de obtenção
            de energia limpa mais indicada para você!
          </p>
          <br><br>
        </mat-card-content>
        <mat-card-actions class="justify-content-between">
          <button mat-button class="custom-button" (click)="openDialogSolar()">PEQUENO</button>
          <button mat-button class="custom-button" (click)="openDialogSolarBiomassa()">MÉDIO</button>
          <button mat-button class="custom-button" (click)="openDialogTodos()">GRANDE</button>
      </mat-card-actions>
      
      </mat-card>
    </div>
  </div>

  <br><br>

</main>