<br><br>
<div class="container">
    <form class="form-horizontal" role="form">
        <h3>Cadastro de Empresa</h3>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Nome da empresa*</label>
            <div class="col-sm-9">
                <input type="text" id="Name" placeholder="Nome" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email* </label>
            <div class="col-sm-9">
                <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfcnpj" class="col-sm-3 control-label">Rua*</label>
            <div class="col-sm-9">
                <input type="text" id="cpfcnpj" placeholder="Rua" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfcnpj" class="col-sm-3 control-label">Bairro*</label>
            <div class="col-sm-9">
                <input type="text" id="Bairro" placeholder="Rua" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfcnpj" class="col-sm-3 control-label">Cnpj*</label>
            <div class="col-sm-9">
                <input type="text" id="cpfcnpj" placeholder="Cpf/cnpj" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfcnpj" class="col-sm-3 control-label">cep*</label>
            <div class="col-sm-9">
                <input type="text" id="cep" placeholder="Cep" class="form-control">
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Campos obrigatórios</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </form> <!-- /form -->
</div> <!-- ./container -->
<br>