<<<<<<< HEAD
.carousel-caption{
    display: flex;
    justify-content: center;
    top: 40%;
    color: white;
}

=======
.carousel-caption{
    display: flex;
    justify-content: center;
    top: 40%;
    color: white;
}

>>>>>>> 854dced8e4a4f36761e615ed61ee632022c33f69
