<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/src/styles.css">
<link rel="stylesheet" href="/src/bootstrap.css">
<link rel="stylesheet" href="/src/styles.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="page">
    <section>
        <div id="energyCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
                <div class="carousel-item active" style="background-image: url('../assets/images/energia-solar.jpg');">
                    <div class="carousel-caption text-center">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-md-11 col-lg-10 col-xl-9">
                                    <div class="header-decorated">
                                        <h3 class="medium text-primary fadeInUp">Energia Solar</h3>
                                    </div>
                                    <h2 class="slider-header fadeInUp">Você sempre um passo a frente</h2>
                                    <p class="text-bigger slider-text fadeInUp">uma estratégia para você ou sua empresa economizar e ajudar o futuro</p>
                                    <div class="button-block fadeInUp">
                                        <a class="btn btn-outline-success" href="simulador.html">Simulador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../assets/images/energia-eolica.jpg');">
                    <div class="carousel-caption text-center">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-md-11 col-lg-10 col-xl-9">
                                    <div class="header-decorated">
                                        <h3 class="medium text-primary fadeInUp">Energia Eólica</h3>
                                    </div>
                                    <h2 class="slider-header fadeInUp">Solução efetiva para quem precisa de mais</h2>
                                    <p class="text-bigger slider-text fadeInUp">para locais amplos e com maior consumo de energia</p>
                                    <div class="button-block fadeInUp">
                                        <a class="btn btn-outline-success" href="simulador">Simulador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../assets/images/energia-biomassa.jpg');">
                    <div class="carousel-caption text-center">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-md-11 col-lg-10 col-xl-9">
                                    <div class="header-decorated">
                                        <h3 class="medium text-primary fadeInUp">Energia Biomassa</h3>
                                    </div>
                                    <h2 class="slider-header fadeInUp">Sem desperdício!</h2>
                                    <p class="text-bigger slider-text fadeInUp">Gerando energia através de matéria orgânica vegetal ou animal</p>
                                    <div class="button-block fadeInUp">
                                        <a class="btn btn-outline-success" href="simulador.html">Simulador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#energyCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#energyCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="section-50 section-md-75 section-lg-100">
        <div class="container">
            <div class="row row-40">
                <div class="col-md-6 col-lg-4 height-fill">
                    <article class="icon-box">
                        <div class="box-top">
                            <div class="box-icon"><span
                                    class="novi-icon icon icon-primary icon-lg mercury-icon-briefcase"></span></div>
                            <div class="box-header">
                                <h5><a href="#">Business Law</a></h5>
                            </div>
                        </div>
                        <div class="divider bg-accent"></div>
                        <div class="box-body">
                            <p>Business law deals with the creation of new businesses and the issues that arise as
                                existing.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4 height-fill">
                    <article class="icon-box">
                        <div class="box-top">
                            <div class="box-icon"><span
                                    class="novi-icon icon icon-primary icon-lg mercury-icon-users"></span></div>
                            <div class="box-header">
                                <h5><a href="#">Family Law</a></h5>
                            </div>
                        </div>
                        <div class="divider bg-accent"></div>
                        <div class="box-body">
                            <p>Family law attorneys help their clients file for separation or divorce, alimony or child
                                custody.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4 height-fill">
                    <article class="icon-box">
                        <div class="box-top">
                            <div class="box-icon"><span
                                    class="novi-icon icon icon-primary icon-lg mercury-icon-lib"></span></div>
                            <div class="box-header">
                                <h5><a href="#">Civil Litigation</a></h5>
                            </div>
                        </div>
                        <div class="divider bg-accent"></div>
                        <div class="box-body">
                            <p>Civil litigation is the process in which civil matters are resolved in a court of law.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-displaced-wrap">
        <div class="bg-displaced-body">
            <div class="container">
                <div class="inset-xl-left-70 inset-xl-right-70">
                    <article class="box-cart bg-ebony-clay">
                        <div class="box-cart-image"><img src="../assets/images/home-2-342x338.jpg" alt="" width="342"
                                height="338" />
                                <img src="../assets/images/clients-testimonials-2-68x68.jpg" alt="" width="342" height="338" />
                        </div>
                        <div class="box-cart-body">
                            <blockquote class="blockquote-complex blockquote-complex-inverse">
                                <h3>Sobre</h3>
                                <p>
                                    <q>When you place your case in the hands of our lawyers and paralegals, you are
                                        placing your case in the hands of professionals who are committed to achieving
                                        the best possible outcome.</q>
                                </p>
                                <div class="quote-footer">
                                    <cite>Ryan Emberson</cite><small>CEO at LawExpert</small>
                                </div>
                            </blockquote>
                            <div class="button-wrap inset-md-left-70"><a
                                    class="button button-responsive button-medium button-primary-outline-v2"
                                    href="#">Seja uma empresa parceira</a></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="bg-displaced bg-image" style="background-image: url(images/home-1.jpg);"></div>
    </section>

    <section class="section-60 section-lg-100">
        <div class="container">
            <div class="row row-40 align-items-sm-end">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail-variant-2-wrap">
                        <div class="thumbnail thumbnail-variant-2">
                            <figure class="thumbnail-image"><img src="../assets/images/team-9-246x300.jpg" alt="" width="246"
                                    height="300" />
                            </figure>
                            <div class="thumbnail-inner">
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a
                                        class="link-white" href="tel:#">(15)4321-4321</a></div>
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a
                                        class="link-white" href="mailto:#">macroprotechoutlook.com</a></div>
                            </div>
                            <div class="thumbnail-caption">
                                <p class="text-header"><a href="#">Amanda Smith</a></p>
                                <div class="divider divider-md bg-teak"></div>
                                <p class="text-caption">Paralegal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail-variant-2-wrap">
                        <div class="thumbnail thumbnail-variant-2">
                            <figure class="thumbnail-image"><img src="../assets/images/team-10-246x300.jpg" alt="" width="246"
                                    height="300" />
                            </figure>
                            <div class="thumbnail-inner">
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a
                                        class="link-white" href="tel:#">(15)4321-4321</a></div>
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a
                                        class="link-white" href="mailto:#">macroprotechoutlook.com</a></div>
                            </div>
                            <div class="thumbnail-caption">
                                <p class="text-header"><a href="#">John Doe</a></p>
                                <div class="divider divider-md bg-teak"></div>
                                <p class="text-caption">Attorney</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail-variant-2-wrap">
                        <div class="thumbnail thumbnail-variant-2">
                            <figure class="thumbnail-image"><img src="../assets/images/team-11-246x300.jpg" alt="" width="246"
                                    height="300" />
                            </figure>
                            <div class="thumbnail-inner">
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a
                                        class="link-white" href="tel:#">(15)4321-4321</a></div>
                                <div class="link-group"><span
                                        class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a
                                        class="link-white" href="mailto:#">macroprotechoutlook.com</a></div>
                            </div>
                            <div class="thumbnail-caption">
                                <p class="text-header"><a href="#">Vanessa Ives</a></p>
                                <div class="divider divider-md bg-teak"></div>
                                <p class="text-caption">Legal Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-3 text-center">
                    <div class="block-wrap-1">
                        <div class="block-number">06</div>
                        <h3 class="text-normal">Experts</h3>
                        <p class="h5 h5-smaller text-style-4">in Their Fields</p>
                        <p>If you or your business is facing a legal challenge, Entre em contato today to arrange a free
                            initial consultation with an attorney.</p><a
                            class="link link-group link-group-animated link-bold link-secondary" href="#"><span>Read
                                more</span><span
                                class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section parallax-container bg-black" data-parallax-img="../assets/images/progress-bars-parallax-1.jpg">
        <div class="parallax-content">
            <div class="section-50 section-md-90">
                <div class="container">
                    <div class="row row-40">
                        <div class="col-sm-6 col-md-3">
                            <div class="box-counter box-counter-inverse"><span
                                    class="novi-icon icon icon-lg icon-primary mercury-icon-group"></span>
                                <div class="text-large counter">1450</div>
                                <p class="box-header">Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="box-counter box-counter-inverse"><span
                                    class="novi-icon icon icon-lg-smaller icon-primary mercury-icon-scales"></span>
                                <div class="text-large counter">23</div>
                                <p class="box-header">Years of Experience</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="box-counter box-counter-inverse"><span
                                    class="novi-icon icon icon-lg-smaller icon-primary mercury-icon-partners"></span>
                                <div class="text-large counter counter-percent">98</div>
                                <p class="box-header">Successful Cases</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="box-counter box-counter-inverse"><span
                                    class="novi-icon icon icon-lg icon-primary mercury-icon-case"></span>
                                <div class="text-large counter">7500</div>
                                <p class="box-header">Personal Injury Cases</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootstrap Contact Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="bg-light py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9 col-xl-7">
                        <div class="mb-5">
                            <h3>Entre em contato</h3>
                        </div>
                        <form method="post" action="bat/rd-mailform.php">
                            <div class="row g-3">
                                <!-- Nome -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="request-form-name" name="name" placeholder="Nome" required>
                                        <label for="request-form-name">Nome</label>
                                    </div>
                                </div>
                                <!-- Telefone -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="request-form-phone" name="phone" placeholder="Telefone" required>
                                        <label for="request-form-phone">Telefone</label>
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="request-form-email" name="email" placeholder="Email" required>
                                        <label for="request-form-email">Email</label>
                                    </div>
                                </div>
                                <!-- Tipo de Energia -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="request-form-select" name="energy_type" aria-label="Tipo de energia" required>
                                            <option selected disabled>Tipo de energia</option>
                                            <option value="solar">Energia Solar</option>
                                            <option value="eolica">Energia Eólica</option>
                                            <option value="biomassa">Energia Biomassa</option>
                                        </select>
                                        <label for="request-form-select">Tipo de energia</label>
                                    </div>
                                </div>
                                <!-- Mensagem -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="feedback-2-message" name="message" placeholder="Mensagem" style="height: 150px;" required></textarea>
                                        <label for="feedback-2-message">Mensagem</label>
                                    </div>
                                </div>
                                <!-- Botão de Enviar -->
                                <div class="col-3">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn btn-outline-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
    
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>